<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>斗兽棋</title>
    <!--http://www.html5rocks.com/en/mobile/mobifying/-->
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1,target-densitydpi=device-dpi" />
    <!--https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <!-- force webkit on 360 -->
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <!-- force edge on IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="msapplication-tap-highlight" content="no">
    <!-- force full screen on some browser -->
    <meta name="full-screen" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <meta name="360-fullscreen" content="true" />
    <!-- force screen orientation on some browser -->
    <!-- portrait - 竖屏 landscape - 横屏 -->
    <meta name="screen-orientation" content="primary" />
    <meta name="x5-orientation" content="primary">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="//static.nightwatch.xin/lib/css/nw-base.css">
    <link rel="stylesheet" type="text/css" href="/css/app.min.css">
</head>

<body>
    <div class="game-bg flex-h jc-center ai-center">
        <div class="flex-v">
            <div>
                <input id="nicheng" class="game-input" placeholder="来个帅气的昵称吧" />
            </div>
            <div>
                <input id="phone" class="game-input" placeholder="输入手机方便领取礼物哦" />
            </div>
            <div>
                <div id="start_game" class="">开始</div>
            </div>
        </div>
    </div>
    <div id="game_container"></div>
    <script src="//static.nightwatch.xin/lib/jquery/jquery-2.2.3.min.js"></script>
    <script src="//static.nightwatch.xin/lib/phaser/phaser.min.js"></script>
    <script src="//static.nightwatch.xin/lib/phaser/soket.io-1.4.5.min.js"></script>
    <script src="/js/socket-client.js"></script>
    <!-- <script src="/js/game.js"></script> -->
</body>

</html>
